@import url("https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=UnifrakturMaguntia&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Satoshi-Regular";
  src: url("./font/Satoshi/Satoshi-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Satoshi-Light";
  src: url("./font/Satoshi/Satoshi-Light.otf") format("opentype");
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("./font/Satoshi/Satoshi-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("./font/Satoshi/Satoshi-Medium.otf") format("opentype");
}

.bebas {
  font-family: "UnifrakturMaguntia";
}

.amita {
  font-family: "Amita";
}

body {
  font-family: "Satoshi-Regular";
  background-color: #101011;
  color: #fff;
}

.satoshi-bold {
  font-family: "Satoshi-Bold";
}
.satoshi-light {
  font-family: "Satoshi-Light";
}

.satoshi-medium {
  font-family: "Satoshi-Medium";
}

.menu-overlay {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.menu-link-item {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu-link-item-holder {
  position: relative;
}

.menu-link-item-holder a {
  color: #fff;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.menu-info {
  display: flex;
}

.menu-info-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 900px) {
  .menu-close-icon {
    display: none;
  }

  .menu-copy {
    padding-top: 8em;
  }
}

.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #202022;
  transform-origin: bottom;
}

.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #202022;
  transform-origin: top;
}

.grayscale-bg-hover {
  transition: filter 0.3s;
  filter: grayscale(100%);
}

.grayscale-bg-hover:hover {
  filter: grayscale(0%);
}
